.container {
  display: flex;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  height: 300px;
  border: 1px solid black;
  margin: auto;
  padding: 5px;
  text-align: center;
}

.generate-pokemon {
  margin: auto;
  max-height: 20px;
  background-color: red;
  display: block;
}
